/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

body {
	font-family: 'Merriweather', serif;
}


main { 
	font-family: 'Merriweather', serif;
	display: flex;
	height: 100%;
	flex-direction: row;
	font-size: 18px;

}


// imports
@import 'modules/_reset';
@import 'modules/_message';
@import 'modules/_userList';
@import 'modules/login';
