<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Roboto&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue"></script>
</head>
<body>

	
	<main id="app">

		<div class="screen">
			<h2>Super Duper ChatApp</h2>
			<p>Get Started on the ChatApp and have fun with your friends</p>
			<div class="form-screen">
				<form @click.prevent="register" class="login">
					<label for="username">Enter Your UserName</label>
					<input id="username" v-model="nickname" type="text" placeholder="What is your username?">
					<input type="submit" class="loginButton">
				</form>
			</div>
		</div>
		
		<section class="form-container">
			<h2>Welcome {{ nickname }}</h2>
			<form>
				<label for="message">Get Chatting</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input @click.prevent="dispatchMessage" type="submit">
			</form>

			<section class="userList">
				<h3>Show Users Online</h3>
				<ul id='users'>
					<li v-for='user in users'>
						<div class="circle"></div><p>{{ user }}</p>
					</li>
				</ul>
			</section>

		</section>

		

		<section class="messages">
			<ul id="messages">
				<!-- render a new message component for every message -->
				<newmessage v-for="message in messages" :msg="message"></newmessage>
			</ul>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>