.userList{
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;
    // height: 40%;
    padding: 10px 10px;
    transform: translateX(10px);
    transition: all .4s ease;
    h3{
        font-size: 22px;
        padding: 4px;
        margin-bottom: 20px;
        font-weight: bold;
        color: rgb(112, 96, 250);
    }
    ul{
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;

        p {
            padding: .2rem;
            list-style-type: circle;
        }
    }
}